dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.DS_Store/

# End of https://mrkandreev.name/snippets/gitignore-generator/#Haskell
.DS_Store

# Bloated code
ex_picker.hs

# Out file
remove_comment
participio
course_exercises/yacc/04/calc
course_exercises/yacc/09/scheme
course_exercises/prepare.py
sent_for_grading/
